.photo-grid {
  margin: 0 auto 92px;
  max-width: 1184px;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    max-width: 720px;
    margin: 0 auto 88px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    margin: 0 24px 88px;
  }
}

@media screen and (max-width: 424px) {
  .photo-grid {
    margin: 0 16px 66px;
  }
}