.places {
  max-width: 984px;
  margin: 0 auto 92px;
}

@media screen and (max-width: 1279px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 990px) {
  .places {
    margin: 0 24px 90px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    margin: 0 0 64px;
  }
}