.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: white;
  transition: .3s ease-in-out;
}

.footer__link:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}