.lead__subtitle {
  text-align: center;
  margin: 0 auto 64px;
  max-width: 640px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    margin: 0 auto 56px;
  }
}

@media screen and (max-width: 424px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
    margin: 0 auto 40px;
  }
}