.cover {
  margin: 0 auto 92px;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1184px;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .cover {
    margin: 0 auto 88px;
  }
}

@media screen and (max-width: 424px) {
  .cover {
    margin: 0 auto 64px;
  }
}