.place__url-heading {
  color: #AAAAAA;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  margin: 0 0 12px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    margin: 0 16px 12px;
  }
}